server/src/main/resources/wsdl/order.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:tns="http://ws.eats.uber.io/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://ws.eats.uber.io/">

    <xs:element name="orderUpdateRequest" type="tns:updateOrderStatus"/>

    <xs:element name="orderUpdateResponse" type="xs:string"/>


    <xs:complexType name="updateOrderStatus">
        <xs:sequence>
            <xs:element name="orderId" type="xs:long"/>
            <xs:element name="orderStatus" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
